* {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

body {
    background-color: rgb(202, 246, 252);
    padding: 20px;
}

/* index */
.links {
  list-style: none;
  display: flex;
  gap: 25px;
  background: teal;
  padding: 10px;
  border-radius: 8px;
  justify-content: center;
}

.links li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.links li a:hover {
  color: aquamarine;
}

.bdjudul {
  text-align: center;
}

.kotak {
  background: white;
  padding: 20px;
  border: 1px solid gray ;
  border-radius: 10px;
  max-width: 500px;
}

a.ngisi {
  color: blue;
  text-decoration: none;
}

a.ngisi:hover {
  color: darkblue;
  text-decoration: underline;
}

/* form */
h2, h4 {
  text-align: center;
}

form {
    max-width: 700px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

form input[type="text"], form select, form textarea {
  width: 97%;
  padding: 8px 10px;
  border: 1px solid #333;
  border-radius: 6px;
}

form input[type="submit"] {
  background: teal;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: bold;
}

form input[type="submit"]:hover {
  background: rgb(1, 54, 1);
}

/* welkam */
.wbody h1, .wbody h3 {
    text-align: center;
}

/* data */
table {
  border-collapse: collapse;
  background: white;
}

td {
    text-align: center;
}
